<article class="HomePage">
    <h1 class="home-title">Todo manager</h1>
    <section class="LoginSession">
        <%= link_to "sign up", new_user_path,class:"SignUp"%>
        <%= link_to "sign in", new_sessions_path,class:"SignIn" %>
    </section>
</article>
